@model StockApplication.Models.Alert

@{
    ViewBag.Title = "Stocks";
    Layout = "_Layout";
}

<h2>@Model.Symbol</h2>

<div class="text-center">
    <h1 class="display-4">Stocks Website</h1>
    <form method="post">
        <fieldset>
            <legend>Add Customer</legend>
            <div>
                <label for="StockName">Stock Name:</label>
                <input type="text" name="StockName" value="" />
            </div>
            <div>
                <label for="Price">Price:</label>
                <input type="text" name="Price" value="" />
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type="text" name="Email" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</div>