@model List<StockApplication.Models.Alert>
@{
    ViewData["Stock"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="../Stock/Stock" >Register Stock</a>
</div>

<!--Aki table -->
@using (Html.BeginForm("StockList", "Stock", FormMethod.Get))
{
    <div>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Symbol </th>
                <th>Price </th>
                <th>Email </th>
                <th></th>
            </tr>
            @foreach (var lAlert in Model)
            {
                <tr>
                    <td>@lAlert.Symbol</td>
                    <td>@lAlert.AlertPrice</td>
                    <td>@lAlert.Email</td>
                    <td>@lAlert.Sent</td>
                </tr>
            }
        </table>
    </div>
}