@model StockApplication.Models.Alert
@{
    ViewBag.Title = "Stock";
    Layout = "_Layout";
}

<div class="text-center" align="center">
    <h1 class="display-4">Stocks Website</h1>
    <form method="post">
        <fieldset>
            <legend>Add Stock</legend>
            <div>
                <label for="@Model.Symbol">Symbol:</label>
                <input type="text" name="Symbol" value="" />
            </div>
            <div>
                <label for="@Model.AlertPrice">Price:</label>
                <input type="text" name="Price" value="" />
            </div>
            <div>
                <label for="@Model.Email">Email:</label>
                <input type="text" name="Email" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" onclick="location.href='@Url.Action("SaveStock", "Stock")'" />
            </div>
        </fieldset>
    </form>
</div>


