@model StockApplication.Models.Alert
@{
    ViewBag.Title = "Stock";
    Layout = "_Layout";
    
}
@using (Html.BeginForm("SaveStock", "Stock", FormMethod.Post))
{
    <div class="text-center" align="center">
        <h1 class="display-4">Stocks Website</h1>
        <form method="post">
            <fieldset>
                <legend>Add Stock</legend>
                <div>
                    <label for="@Model.Id">Id:</label>
                    <input type="text" name="Id" value=""/>
                </div>
                <div>
                    <label for="@Model.Symbol">Symbol:</label>
                    <input type="text" name="Symbol" value=""/>
                </div>
                <div>
                    <label for="@Model.AlertPrice">Price:</label>
                    <input type="text" name="Price" value=""/>
                </div>
                <div>
                    <label for="@Model.Email">Email:</label>
                    <input type="text" name="Email" value=""/>
                </div>
                <di>
                    <input type="submit" value="Save" class="submit"/>
                </di>
            </fieldset>
        </form>
    </div>
}

